<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<h2>Hi, {{user.nickname}}!</h2>
{% for post in posts  %}
    <h3><a href="{{ url_for('show_post', id=post.id) }}">
        {{ post.title }}
    </a></h3>
    <p>{{ post.body | safe }}</p>
    <h6>Created {{ post.created_in_words }} ago, by {{ post.get_user_name() }}</h6>
    <br/>
    <h6>
        {% if g.user.id == post.get_user_id() %}
        <a href="{{ url_for('delete', id=post.id) }}">Delete</a>
        | <a href="{{ url_for('edit', id=post.id) }}">Edit</a>
        {% endif %}
    </h6>
        <hr/>
    {% endfor %}

{% endblock %} 